/* Remove default browser padding */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: whitesmoke;
}

section {
    height:100%;
    width: 100%;
    
}

#snake-container {
    margin: 0 auto;
    max-width: 600px;
}

#touch-controls {
    padding: 2rem; 
    margin: 0 auto;
    max-width: 600px;
}

#game-message {
    height: 2rem;
}

.btnControls {
    border-radius: 50%;
    background-color: #c0c0c0;
    border: 4px solid;
    width: 3rem;
    height: 3rem;
    font-size:2rem;
}

#game-message {
    text-align: center;
    color: #990000;
}

.pause {
    position: relative;
    left: 2rem;
}

.left {
    
        position: relative;
        left: 2rem;
   
}

.float-right {
    float: right;
    padding-right: 1rem;
}

#scores {
    padding-left: 1rem;
}